Source: ros-noetic-flatland-msgs
Section: misc
Priority: optional
Maintainer: Joseph Duchesne <joseph@avidbots.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-std-msgs
Homepage: https://bitbucket.org/avidbots/flatland
Standards-Version: 3.9.2

Package: ros-noetic-flatland-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-geometry-msgs, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: The flatland_msgs package
