Source: ros-noetic-flatland
Section: misc
Priority: optional
Maintainer: Joseph Duchesne <joseph@avidbots.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-flatland
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-flatland-msgs, ros-noetic-flatland-plugins, ros-noetic-flatland-server, ros-noetic-flatland-viz
Description: This is the metapackage for flatland.
